:root {
  --primary-color: #434455;
  --secondary-color: #2e2f42;
  --primary-background-color: #fff;
  --secondary-background-color: #2e2f42;
  --accent-color: #4d5ae5;
  --interactive-color: #404bbf;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-color);
  background-color: var(--primary-bacground-color);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-style {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-right: 76px;
}

.logo-studio {
  color: var(--secondary-color);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--interactive-color);
}

.current {
  color: var(--interactive-color);
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--interactive-color);
}

.address-style {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--interactive-color);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--secondary-bacground-color);
  padding: 188px 0;
}

.page-title {
  max-width: 496px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 48px;
}

.button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--interactive-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.advantages-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  flex-shrink: 0;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
}

.advantages-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-bottom: 8px;
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-section {
  background-color: #f4f4fd;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.team-titles {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-shrink: 0;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--interactive-color);
}

.team-social-icons {
  fill: #f4f4fd;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-box-image {
  position: relative;
  overflow: hidden;
}

.overlay {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-box {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-titles {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-background {
  background-color: var(--secondary-background-color);
  padding: 100px 0;
}

footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-logo-box {
  margin-right: 120px;
}

.logo-footer {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 16px;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-text {
  min-width: 96px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  background-color: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item:hover,
.footer-social-item:focus {
  background-color: var(--primary-background-color);
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icons {
  fill: #f4f4fd;
}
